@import "variables";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hamburger {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #362f2f;
  cursor: pointer;

  .hamburger-item {
    position: absolute;
    top: 24px;
    left: 12px;
    width: 27px;
    height: 2px;
    background-color: #fff;

    &:first-child {
      top: 17px;
    }

    &:last-child {
      top: 31px;
    }
  }
}

.rotate {
  background-color: #fff;
  border: 1px solid #362f2f;

  .hamburger-top {
    transform: translateY(6px) translateX(-13px) rotate(135deg);
    transition: .35s ease;
    left: 49%;
    background-color: #000;
  }

  .hamburger-middle {
    opacity: 0;
  }

  .hamburger-bottom {
    transform: translateY(-8px) translateX(0) rotate(-135deg);
    transition: .35s ease;
    background-color: #000;
  }
}

.hidden {
  display: none;
}

.nav-list {
  max-width: 400px;
  position: absolute;
  left: 80px;
  display: flex;
  align-items: center;

  .nav-list-link {
    margin-right: 20px;
  }

  .nav-list-link, .second-menu-link, .third-menu-link {
    padding-bottom: 5px;
    color: $text-color;
    font: 700 12px $primary-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;

    &:hover {
      border-bottom: 3px solid #f3c90c;
    }
  }
}

.nav-list-item {
  position: relative;

  &:first-child:hover {
    .second-menu {
      opacity: 1;
      left: 0;
      transition: 0.3s all;
    }
  }
}

.second-menu {
  position: absolute;
  top: 28px;
  left: -300px;
  background-color: #fff;
  border-top: 5px solid transparent;
  padding: 0;
  opacity: 0;
}

.second-menu-item {
  position: relative;

  &:nth-of-type(4):hover {
    .third-menu {
      opacity: 1;
      transition: 0.5s all;
    }
  }
}

.third-menu {
  position: absolute;
  width: 100%;
  left: 80px;
  top: 0;
  opacity: 0;
  border-left: 5px solid transparent;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
}

.social-list {
  max-width: 144px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .social-list-item {
    cursor: pointer;
    font-size: 0.8em;
    color: #000;
    &:hover {
      color: #f3c90c;
    }
  }
}