@import "variables";

.bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.bottom-box-1 {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font: 300 18px $primary-font;

  span, a {
    display: block;
  }

  span {
    font-size: 16px;
    font-weight: 400;
  }

  a {
    max-width: 67px;
    margin: 30px auto 20px;
    padding: 30px 15px;
    background-color: #c3a000;
  }
}

.bottom-box-2-header {
  max-width: 165px;
  padding-bottom: 6px;
  padding-left: 15px;
  color: $text-color;
  font: 700 16px $primary-font;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #f3c90c;
}

.bottom-box-2-news {
  display: flex;
  align-items: center;

  img {
    width: 67px;
    height: 67px;
    margin-right: 30px;
  }

  .bottom-box-2-news-text {
    max-width: 257px;
    color: $text-color;
    font: 400 12px $primary-font;

    h6, p {
      margin: 0;
    }

    h6 {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.news-margin {
  margin: 55px 0;
}