@import "variables";

.container {
  max-width: 1170px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

@import "header";
@import "portfolio-slider";
@import "bottom";
@import "partners";
@import "footer";
@import "portfolio";
@import "post";
@import "blog";
